<!doctype html>
<html lang="en">

<head>
    <title>Incubator Command</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <style>
        .appWrapper {
            display: none;
        }

        .loading {
            color: '#00f'
        }
    </style>
</head>

<body>
    <div id='app'>
        <h1 :class="fetching ? 'loading' : ''">Driveway Command</h1>
        <div class='appWrapper' ref='appWrapper'>
            <v-alert type="error" v-if="error">
                An error occurred fetching data:
                <pre>{{error}}</pre>
            </v-alert>

            <div v-if="!error">
                <h2>Last Notified: {{lastNotifiedDisplay}}</h2>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            async created() {
                this.fetchState = this.fetchState.bind(this);
                await this.fetchState();
                this.fetcher = window.setInterval(this.fetchState, 20000);
            },
            mounted() {
                this.$refs.appWrapper.style.display = 'inherit';
            },
            beforeDestroy() {
                window.clearInterval(this.fetcher);
            },
            methods: {
                async fetchState() {
                    if (this.fetching) {
                        return;
                    }

                    this.fetching = true;

                    try {
                        const resp = await fetch('/api/motion');
                        if (!resp.ok) {
                            this.error = resp.statusText;
                        } else {
                            const data = await resp.json();
                            this.last_notified_ms_ago = data.last_notified_ms_ago;
                            this.error = null;
                        }
                    } catch (err) {
                        this.error = err.toString();
                    } finally {
                        this.fetching = false;
                    }
                },
            },
            computed: {
                lastNotifiedDisplay() {
                    return this.last_notified_ms_ago === null ? 'never' : `${this.last_notified_ms_ago / 1000 / 60} minutes ago`;
                },
            },
            data: {
                last_notified_ms_ago: null,
            },
        });
    </script>
</body>

</html>