<!doctype html>
<html lang="en">

<head>
    <title>Incubator Command</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <style>
        .appWrapper {
            display: none;
        }

        .error {
            color: #ea1717;
        }

        .loading {
            color: '#00f'
        }
    </style>
</head>

<body>
    <div id='app'>
        <h1 :class="fetching ? 'loading' : ''">Incubator Command</h1>
        <div class='appWrapper' ref='appWrapper'>
            <h2 v-if="error" class="error">An error occurred fetching data:
                <pre>{{error}}</pre>
            </h2>
            <div v-if="!error">
                <h2>Temperature: {{temperatureDisplay}}</h2>
                <h2>Humidity: {{humidityDisplay}}</h2>
                <h2>As Of: {{as_of}}</h2>
                <h2>Sensors: {{sensors}}</h2>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            async created() {
                this.fetchState = this.fetchState.bind(this);
                await this.fetchState();
                this.fetcher = window.setInterval(this.fetchState, 5000);
            },
            mounted() {
                this.$refs.appWrapper.style.display = 'inherit';
            },
            beforeDestroy() {
                window.clearInterval(this.fetcher);
            },
            methods: {
                async fetchState() {
                    if (this.fetching) {
                        return;
                    }

                    this.fetching = true;

                    try {
                        const resp = await fetch('/api/dht');
                        if (!resp.ok) {
                            this.error = resp.statusText;
                        } else {
                            const data = await resp.json();
                            this.temperature = data.temperature;
                            this.humidity = data.humidity;
                            this.as_of = data.as_of;
                            this.sensors = data.sensors;
                            this.error = null;
                        }
                    } catch (err) {
                        this.error = err.toString();
                    } finally {
                        this.fetching = false;
                    }
                },
            },
            computed: {
                temperatureDisplay() {
                    return this.temperature !== null ? `${this.temperature} F` : '--';
                },
                humidityDisplay() {
                    return this.humidity !== null ? `${this.humidity} %` : '--';
                },
            },
            data: {
                fetching: false,
                error: null,
                temperature: null,
                humidity: null,
                as_of: '--',
                sensors: 0
            },
        });
    </script>
</body>

</html>