/* env setup, to be filled in before usage in liue of EEPROM persistence */
#ifndef ENV_H
#define ENV_H

#define ENV_WIFI_SSID ""
#define ENV_WIFI_PASS ""
#define ENV_MQTT_HOST "192.168.x.x"
#define ENV_MQTT_USERNAME ""
#define ENV_MQTT_PASSWORD ""
#define ENV_MQTT_TOPIC "stat/furnace"
#define ENV_HOSTNAME "coop-command"
#define ENV_OTA_PASSWORD ""

#endif

// vi:syntax=c++ filetype=c++