<!DOCTYPE html>
<html lang="en">

<head>
    <title>Coop Command</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        body {
            background: #121212;
        }

        .appWrapper {
            display: none;
        }

        .v-color-picker__input>input {
            color: #bcbcbc;
        }
    </style>
</head>

<body>
    <div id='app'>
        <v-app>
            <v-main>
                <v-container class="fill-height" fluid>
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">
                            <v-card class="elevation-12">
                                <v-card-title>Coop Command</v-card-title>
                                <v-card-text>
                                    <div class='appWrapper' ref='appWrapper'>
                                        <v-alert dismissible type="error" v-if="error">
                                            An error occurred:
                                            <pre>{{error}}</pre>
                                        </v-alert>
                                        <div>
                                            <div class='mb-5'>
                                                <h3>Temperature: {{temperatureDisplay}}</h3>
                                                <h3>Humidity: {{humidityDisplay}}</h3>
                                            </div>
                                            <div>
                                                <h3>
                                                    LEDs Status
                                                    <v-btn small v-if="!editLeds" @click="toggleEdit">
                                                        <v-icon dark>mdi-wrench</v-icon>
                                                    </v-btn>
                                                    <v-btn :disabled="fetching" small v-if="editLeds"
                                                        @click="cancelLeds">
                                                        <v-icon dark>mdi-cancel</v-icon>
                                                    </v-btn>
                                                    <v-btn :disabled="fetching" small v-if="editLeds" @click="saveLeds">
                                                        <v-icon dark>mdi-content-save-outline</v-icon>
                                                    </v-btn>
                                                </h3>
                                                <v-switch :disabled="!editLeds" v-model="led.on" :label="ledStatus">
                                                </v-switch>
                                                <v-color-picker v-model="ledModel" mode="rgba" :disabled="!editLeds"
                                                    :hide-inputs="!editLeds" :hide-canvas="!editLeds">
                                                </v-color-picker>
                                            </div>
                                            <div>
                                                <h3>Door Status
                                                    <v-btn small v-if="!editDoor" @click="toggleEditDoors">
                                                        <v-icon dark>mdi-wrench</v-icon>
                                                    </v-btn>
                                                    <v-btn :disabled="fetching" small v-if="editDoor"
                                                        @click="cancelDoors">
                                                        <v-icon dark>mdi-cancel</v-icon>
                                                    </v-btn>
                                                    <v-btn :disabled="fetching" small v-if="editDoor"
                                                        @click="saveDoors">
                                                        <v-icon dark>mdi-content-save-outline</v-icon>
                                                    </v-btn>
                                                </h3>
                                                <v-switch :disabled="!editDoor" v-model="door0" :label="doorStatus0">
                                                </v-switch>
                                                <v-switch :disabled="!editDoor" v-model="door1" :label="doorStatus1">
                                                </v-switch>
                                            </div>

                                        </div>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify({ theme: { dark: true } }),
            async created() {
                this.fetchState = this.fetchState.bind(this);
                await this.fetchState();
                this.fetcher = window.setInterval(this.fetchState, 5000);
            },
            mounted() {
                this.$refs.appWrapper.style.display = 'inherit';
            },
            beforeDestroy() {
                window.clearInterval(this.fetcher);
            },
            methods: {
                async saveLeds() {
                    await this.saveState();
                    if (this.error) {
                        this.cancelLeds();
                    } else {
                        this.toggleEdit();
                    }
                },
                async saveDoors() {
                    await this.saveDoorState();
                    if (this.error) {
                        this.cancelDoors();
                    } else {
                        this.toggleEditDoors();
                    }
                },
                cancelLeds() {
                    this.led = { ...this.savedLeds };
                    delete this.led.a;
                    this.toggleEdit();
                },
                cancelDoors() {
                    this.door0 = this.savedDoor0;
                    this.door1 = this.savedDoor1;
                    this.savedDoor0 = null;
                    this.savedDoor1 = null;
                    this.toggleEditDoors();
                },
                toggleEdit() {
                    this.editLeds = !this.editLeds;
                    if (this.editLeds) {
                        this.savedLeds = this.ledModel;
                    } else {
                        this.savedLeds = null;
                    }
                },
                toggleEditDoors() {
                    this.editDoor = !this.editDoor;
                    if (this.editDoor) {
                        this.savedDoor0 = this.door0;
                        this.savedDoor1 = this.door1;
                    } else {
                        this.savedDoor0 = null;
                        this.savedDoor1 = null;
                    }
                },
                async saveDoorState() {
                    if (this.fetching) {
                        return;
                    }

                    this.fetching = true;

                    try {
                        const formData = new FormData();
                        formData.append('door0', this.door0);
                        formData.append('door1', this.door1);

                        const resp = await fetch(`/api/doors`, {
                            method: 'PUT',
                            body: formData,
                        });
                        if (!resp.ok) {
                            throw await resp.text();
                        }
                    } catch (err) {
                        console.warn(err);
                        this.error = err.toString();
                    } finally {
                        this.fetching = false;
                    }
                },
                async saveState() {
                    if (this.fetching) {
                        return;
                    }

                    this.fetching = true;

                    const formData = new FormData();
                    for (const [k, v] of Object.entries(this.led)) {
                        formData.append(k, String(v));
                    }

                    try {

                        const resp = await fetch('/api/leds', {
                            method: 'PUT',
                            body: formData,
                        });
                        if (!resp.ok) {
                            throw await resp.text();
                        }
                    } catch (err) {
                        console.warn(err);
                        this.error = err.toString();
                    } finally {
                        this.fetching = false;
                    }
                },
                async fetchState() {
                    if (this.editLeds || this.editDoor || this.fetching) {
                        return;
                    }

                    this.fetching = true;

                    try {
                        const [resp, resp2, resp3] = [await fetch('/api/leds'), await fetch('/api/dht'), await fetch('/api/doors')];
                        if (!resp.ok) {
                            this.error = await resp.text();
                            return;
                        } else {
                            this.led = await resp.json();
                        }

                        if (!resp2.ok) {
                            this.error = await resp2.text();
                            return;
                        } else {
                            const data = await resp2.json();
                            this.temperature = data.temperature;
                            this.humidity = data.humidity;
                        }

                        if (!resp3.ok) {
                            this.error = await resp3.text();
                            return;
                        } else {
                            const data = await resp3.json();
                            this.door0 = data.door0;
                            this.door1 = data.door1;
                        }
                    } catch (err) {
                        console.warn(err);
                        this.error = err.toString();
                    } finally {
                        this.fetching = false;
                    }
                },
            },
            computed: {
                ledModel: {
                    get() {
                        return { ...this.led, a: 1 };
                    },
                    set(rgba) {
                        this.led = { ...rgba, on: this.led.on };
                    }
                },
                doorStatus0() {
                    return `Door 0 ${this.door0 ? 'open' : 'closed'}`;
                },
                doorStatus1() {
                    return `Door 1 ${this.door1 ? 'open' : 'closed'}`;
                },
                ledStatus() {
                    return this.led.on ? 'on' : 'off';
                },
                temperatureDisplay() {
                    return this.temperature !== null ? `${this.temperature} F` : '--';
                },
                humidityDisplay() {
                    return this.humidity !== null ? `${this.humidity} %` : '--';
                }
            },
            data: {
                editLeds: false,
                editDoor: false,
                fetching: false,
                error: null,
                led: {
                    r: 0,
                    g: 0,
                    b: 0,
                    on: false,
                },
                door0: false,
                door1: false,
                temperature: null,
                humidity: null,
            },
        });
    </script>
</body>

</html>