/* env setup, to be filled in before usage in liue of EEPROM persistence */
#ifndef ENV_H
#define ENV_H

#define ENV_WIFI_SSID ""
#define ENV_WIFI_PASS ""
#define ENV_AIO_USERNAME ""
#define ENV_AIO_KEY ""
#define ENV_PORT 80

#endif

// vi:syntax=c++ filetype=c++