<!doctype html>
<html lang="en">

<head>
    <title>Coop Command</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <style>
        .appWrapper {
            display: none;
        }

        .led {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            border: 1px solid #000;
            border-radius: 2px;
            vertical-align: middle;
        }

        .error {
            color: #ea1717;
        }
    </style>
</head>

<body>
    <div id='app'>
        <h1>Coop Command</h1>
        <div class='appWrapper' ref='appWrapper'>
            <h2 v-if="error" class="error">An error occurred fetching data:
                <pre>{{error}}</pre>
            </h2>
            <div v-if="!error">
                <h2>LED Status: {{ledStatus}} <div class="led" :style="ledStyle"></div>
                </h2>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            async created() {
                this.fetchState = this.fetchState.bind(this);
                await this.fetchState();
                this.fetcher = window.setInterval(this.fetchState, 5000);
            },
            mounted() {
                this.$refs.appWrapper.style.display = 'inherit';
            },
            beforeDestroy() {
                window.clearInterval(this.fetcher);
            },
            methods: {
                async fetchState() {
                    if (this.fetching) {
                        return;
                    }

                    this.fetching = true;

                    try {
                        const resp = await fetch('/api/leds');
                        if (!resp.ok) {
                            this.error = resp.statusText;
                        }
                        this.led = await resp.json();
                    } catch (err) {
                        this.error = err.toString();
                    } finally {
                        this.fetching = false;
                    }
                },
            },
            computed: {
                ledStyle() {
                    return { 'background-color': `rgb(${this.led.r}, ${this.led.g}, ${this.led.b})` };
                },
                ledStatus() {
                    const sum = this.led.r + this.led.g + this.led.b;
                    return sum === 0 ? 'off' : 'on';
                },
            },
            data: {
                fetching: false,
                error: null,
                led: {
                    r: 0,
                    g: 0,
                    b: 0,
                },
            },
        });
    </script>
</body>

</html>